body {
    background: #e5e5e5;
    overflow-y: scroll;
    overflow-x: hidden;
}

neon-animated-pages {
    height: 100%;
}

.home-container {
    width: 75%;
}

.home-card {
    width: 100%;
    background: #ffffff;
    padding: 50px;
    position: relative;
    height: 20px;
    margin: 0 auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    z-index: 1;
}

animated-grid {
    background: none;
}

.halo-300 {
    background: #C5B8A1;
}

.amo-300 {
    background: #e66e0d;
}

.keylinepushing-300 {
    background: #0D1116;
}

.enthusia-300 {
    background: #040C18;
}

.appsite-300 {
    background: #070807;
}

.overvisual-300 {
    background: #000;
}

.fezah-300 {
    background: #ff414f;
}

.polymerstuff-300 {
    background: #b20f44;
}

.slimroms-300 {
    background: #1c1f24;
}

.materialkit-300 {
    background: #000235;
}

.green-300 {
    background: #00E676;
}

.blue-300 {
    background: #22a7f0;
}

.red-300 {
    background: #F44336;
}

.orange-300 {
    background: #e66e0d;
}

.bluegray-300 {
    background: #263238;
}

.white-300 {
    background: #fff;
}

.white-100 {
    background: #e5e5e5;
}

:host {
    display: block;
    background: #e5e5e5;
}

.responsive-container {
    width: 70%;
    margin: 0 auto
}

.tile {
    display: inline-block;
    /*margin: 10px;*/
    float: left;
    vertical-align: top;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: auto;
    margin-bottom: 1%;
    box-sizing: border-box;
    box-sizing: border-box;
}

.tile:nth-of-type(2), .tile:nth-of-type(3), .tile:nth-of-type(4), .tile:nth-of-type(5), .tile:nth-of-type(6), .tile:nth-of-type(8), .tile:nth-of-type(9), .tile:nth-of-type(10), .tile:nth-of-type(11), .tile:nth-of-type(12) {
    margin-right: 1%;
    width: 15.833333%;
}

.tile:nth-of-type(7), .tile:nth-of-type(13) {
    margin-right: 0;
    width: 15.833333%;
}

.tile-image {
    width: 100%;
    height: auto;
}

.no-image {
    display: none;
    display: none;
}

.tile-title {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    color: #333333;
}

.big-card-title {
    font-size: 2.7em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555555;
}

.subtitle-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
}

.subtitle-item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    font-size: 1em;
    color: #555;
    margin-top: 5px;
    font-weight: 400;
}

.subtitle-item iron-icon {
    padding-right: 10px;
    color: #555;
    width: 20px;
    height: 20px;
}

.tile-desc {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    color: #555;
    margin-top: 10px;
}

.fullwidth-card {
    width: 100% !important;
    padding: 50px;
}

.centered-card {
    align-items: center;
    -webkit-align-items: center;
    cursor: pointer;
}

.display-none {
    display: none;
    display: none;
}

.top-gap {
    margin-top: 20%;
    /* Top card */
}

.bottom-gap {
    margin-bottom: 10% !important;
    /* Bottom card */
}

.contact-buttons-container {
    margin-top: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.contact-buttons-container a, .contact-buttons-container a:active, .contact-buttons-container a:focus, .contact-buttons-container a:hover {
    text-decoration: none;
    color: #fff;
}

.mobile-fab {
    display: none;
    position: absolute;
    z-index: 0;
}

.mobile-fab, .mobile-fab:hover, .mobile-fab:focus, .mobile-fab:active {
    background-color: #222 !important;
}

.site-avatar {
    width: 128px;
    height: 128px;
}

@media (min-width: 800px) and (max-width: 1100px) {

    .responsive-container {
        width: 80%;
    }

    .fullwidth-card {
        padding: 45px;
    }

    .tile:nth-of-type(2), .tile:nth-of-type(3), .tile:nth-of-type(4), .tile:nth-of-type(5), .tile:nth-of-type(7), .tile:nth-of-type(8), .tile:nth-of-type(9), .tile:nth-of-type(10), .tile:nth-of-type(12), .tile:nth-of-type(13) {
        margin-right: 1%;
        width: 19.2%
    }

    .tile:nth-of-type(6), .tile:nth-of-type(11) {
        margin-right: 0;
        width: 19.2%
    }

    .mobile-fab {
        display: none;
    }
}

@media (max-width: 800px) {

    .responsive-container {
        width: 90%;
    }

    .fullwidth-card {
        padding: 40px;
    }

    .top-gap {
        margin-top: 30%;
    }

    .tile:nth-of-type(2), .tile:nth-of-type(3), .tile:nth-of-type(4), .tile:nth-of-type(6), .tile:nth-of-type(7), .tile:nth-of-type(8), .tile:nth-of-type(10), .tile:nth-of-type(11), .tile:nth-of-type(12) {
        margin-right: 1%;
        width: 24.25%
    }

    .tile:nth-of-type(5), .tile:nth-of-type(9), .tile:nth-of-type(13) {
        margin-right: 0;
        width: 24.25%
    }

    .mobile-fab {
        display: block;
        right: 5%;
        margin-right: 40px;
        margin-top: -68px;
    }
}

@media (max-width: 480px) {

    .responsive-container {
        width: 95%;
    }

    .big-card-title {
        font-size: 2em;
    }

    .fullwidth-card {
        padding: 30px;
        margin-bottom: 2%;
    }

    .top-gap {
        margin-top: 50%;
    }

    .tile:nth-of-type(2), .tile:nth-of-type(3), .tile:nth-of-type(5), .tile:nth-of-type(6), .tile:nth-of-type(8), .tile:nth-of-type(9), .tile:nth-of-type(11), .tile:nth-of-type(12) {
        margin-right: 2%;
        margin-bottom: 2%;
        width: 32%
    }

    .tile:nth-of-type(4), .tile:nth-of-type(7), .tile:nth-of-type(10), .tile:nth-of-type(13) {
        margin-right: 0;
        margin-bottom: 2%;
        width: 32%
    }

    .mobile-fab {
        display: block;
        right: 2.5%;
        margin-right: 30px;
        margin-top: -58px;
    }
}

:host {
    display: block;
    font-family: 'Roboto', sans-serif;
}

a, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #22a7f0;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

paper-toolbar {
    background: transparent;
    z-index: 1;
}

.card {
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 150px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    z-index: 1;
}

.card-title {
    font-size: 3em;
    font-weight: 300;
    color: #555;
}

.subtitle-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.subtitle-item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #333;
    font-weight: 400;
}

.subtitle-item iron-icon {
    padding-right: 10px;
    color: #777;
    width: 20px;
    height: 20px;
}

.card-link {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: 500;
}

.card-link iron-icon {
    padding-right: 10px;
    width: 28px;
    height: 28px;
    color: #22a7f0;
}

.card-description {
    margin-top: 40px;
    display: block;
    color: #555;
    font-size: 1.1em;
    line-height: 1.4em;
}

#featimage {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.responsive-width-card {
    width: 50%;
    box-sizing: border-box;
    margin-bottom: 10%;
}

.lightbox-images {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    margin-top: 28px;
}

.lightbox-images a {
    width: 32.7%;
    box-sizing: border-box;
    height: auto;
}

.lightbox-images a img {
    width: 100%;
    height: auto;
}

.display-none {
    display: none;
}

@media (min-width: 800px) and (max-width: 1100px) {

    .responsive-width-card {
        width: 70%;
        padding: 45px;
    }
}

@media (max-width: 800px) {

    .responsive-width-card {
        width: 80%;
        padding: 40px;
    }

    .lightbox-images a {
        width: 48.555%;
        box-sizing: border-box;
        height: auto;
    }
}

@media (max-width: 480px) {

    .responsive-width-card {
        width: 95%;
        padding: 35px;
    }

    .lightbox-images a {
        width: 100%;
        box-sizing: border-box;
        height: auto;
    }
}

:host {
    display: block;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 800px) and (max-width: 1100px) {

    .responsive-width-card {
        width: 70%;
        padding: 45px;
    }
}

@media (max-width: 800px) {

    .responsive-width-card {
        width: 80%;
        padding: 40px;
    }
}

@media (max-width: 480px) {

    .responsive-width-card {
        width: 95%;
        padding: 35px;
    }
}