body {
    padding-bottom: 20px;
}

.my-container {
    width: 75%;
    margin: 2% auto;
    position: relative;
}

.info-box-top {
    box-sizing: border-box;
    vertical-align: top;
}

.document-title {
    font-weight: bold;
    color: #212121;
    font-size: 200%;
    min-height: 200px;
    padding-top: 5%;
    padding-left: 10%;
}

.cover-container {
    padding: 25px;
    display: inline-block;
    float: left;
}

.table_row {
    padding-left: 5%;
    width: 30%;
    font-weight: bold;
    cursor: pointer;
}

.pointer-cursor {
    cursor: pointer;
}

#float_butt {
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.bottom-div {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    text-align: center
}